<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <title>МТУСИ</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Emoji_u263a.svg/480px-Emoji_u263a.svg.png">
</head>
<body>
{% include "Nav.html" %}
<div class="container">
    <div class="content">
        <h2>Список предметов</h2>
        <table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Предмет</th>
    </tr>
    </thead>
    <tbody>
    {% for Subject in subjects %}
    <tr class="table-light">
        <td>{{ Subject.name }}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>
       </div>
    </div>
</body>
</html>